@font-face {
    font-family: 'Aller';
    src: url('/font/Aller.ttf.woff') format('woff'),
    url('/font/Aller.ttf.svg#Aller') format('svg'),
    url('/font/Aller.ttf.eot'),
    url('/font/Aller.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

body, .hero.is-link {
    background-color: #FFF;
    font-family: 'Aller';
}

.background-grid {
    width: 500px;
    position: absolute;
    top: 200px;
    right: 0;
}

footer {
    background-color: #3a393a !important;
    color: #000;
}

footer a, footer a:hover {
    color: #FFFFFF;
}

footer a:not(:first-child) {
    margin-left: 2em;
}

.navbar.is-link {
    z-index: 10;
    background-color: #FFF;
}

.navbar-end {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-right: 10%;
}

.navbar.is-link .navbar-burger {
    color: #3E99C1;
}

a.navbar-item {
    color: #3e99c1 !important;
    font-weight: bold;
    font-size: 1.1em;
    line-height: 20px;
}

.navbar.is-link .navbar-end a.navbar-item:hover {
    background-color: #FFF;
    border-bottom: #3e99c1 solid 4px;
    margin-top: 4px;
}

.navbar.is-link .navbar-end .dot {
    color: #000;
    font-size: 1.2em;
}

.section {
    padding: 25px 0 25px 0;
}

.section-heading {
    padding-bottom: 25px;
}

.section-heading > .title {
    color: #3E99C1;
    position: relative;
    font-size: 30px;
    overflow: hidden;
}

#intro {
    margin-top: 2%;
    text-align: justify;
}

.intro {
    display: flex;
    padding-right: 25px;
}

.newsletter .section-heading{
    padding:20px;
}

.button-adherer, .button-adherer:hover {
    background-color: #3E99C1;
    color: #FFFFFF;
}

.nous-trouver {
    display: flex;
    justify-content: space-between;
}

#bureau {
    background-color: #3e99c1;
    padding-bottom: 5em;
}

#bureau h3 {
    color: #FFF;
}

#bureau > .columns {
    margin-left: 5em;
    margin-right: 5em;
}

.bureau-member img {
    width: 200px;
    border-radius: 50%;
    border: 5px solid #FFFFFF;
}

.bureau-member div {
    background-color: #FFFFFF;
    color: #3E99C1;
    font-weight: bold;
    opacity: 0.8;
    padding-left: 1em;
    padding-right: 1em;
    top: 3em;
    width: fit-content;
    margin: 0 auto;
}

h2 {
    color: #3e99c1;
}

.arrow {
    width: 20px;
    margin-right: 10px;
}

@media screen and (max-width: 576px) {

    .logo-container .sub-logo {
        font-size: 10px;
        width: 10%;
    }

    #intro {
        margin: 0;
        padding: 10px;
    }

    .newsletter {
        flex-direction: column;
    }

    #mc_embed_signup {
        width: 100% !important;
    }

    .nous-trouver {
        display: block;
    }

    .bureau-member div {
        display: block;
        width: 50%;
        margin-left: 25%;
    }

}
