<section class="section" id="bureau">
    <div class="container section-heading" style="margin-bottom: 2em">
        <h3 class="title is-2">Le bureau</h3>
    </div>
    <div class="container">
        <div class="columns">
            <div class="column bureau-member has-text-centered">
                <img src="./images/bureau/pierre.jpg">
                <div>Pierre Le Mézec<br/> Président</div>
            </div>
            <div class="column bureau-member has-text-centered">
                <img src="./images/bureau/pablo.jpg">
                <div>Pablo Baumont Gutierrez<br/> Trésorier</div>
            </div>
            <div class="column bureau-member has-text-centered">
                <img src="./images/bureau/gael.jpg">
                <div>Gaël Salaün <br/> Secrétaire</div>
            </div>
        </div>
    </div>
</section>
