<section class="section" id="bureau">
    <div class="container section-heading" style="margin-bottom: 2em">
        <h3 class="title is-2">Le bureau</h3>
    </div>
    <div class="container">
        <div class="columns">
            <div class="column bureau-member has-text-centered">
                <img src="./images/bureau/marie.jpg">
                <div>Marie Gigon <br/> Présidente</div>
            </div>
            <div class="column bureau-member has-text-centered">
                <img src="./images/bureau/benjamin.jpg">
                <div>Benjamin Couet <br/> Trésorier</div>
            </div>
            <div class="column bureau-member has-text-centered">
                <img src="./images/bureau/damien.jpg">
                <div>Damien Sainte <br/> Vice-trésorier</div>
            </div>
            <div class="column bureau-member has-text-centered">
                <img src="./images/bureau/gael.jpg">
                <div>Gaël Salaün <br/> Secrétaire</div>
            </div>
        </div>
    </div>
</section>
