<footer class="footer has-text-centered" id="footer">
    <a href="mailto:contact@agilerennes.org" target="_blank">
        <span class="icon">
            <i class="fas fa-2x fa-envelope"></i>
        </span>
    </a>
    <a href="https://www.youtube.com/c/AgileTourRennes/videos" target="_blank">
        <span class="icon">
            <i class="fab fa-2x fa-youtube"></i>
        </span>
    </a>
    <a href="https://www.linkedin.com/company/agiletourrennes/" target="_blank">
        <span class="icon">
            <i class="fab fa-2x fa-linkedin-in"></i>
        </span>
    </a>
    <br/><br/>
    <span>
        <a href="archive">Archive</a>
    </span>
</footer>
</body>
</html>
