<section class="section" id="intro">
    <div class="container section-heading">
        <h2 class="title is-2">L'association</h2>
    </div>
    <div class="content intro">
        <div>
            <img src='{{ "images/logo-agile-rennes.png" }}'>
        </div>
        <div>
            But et objet de l’association
            <br/><br/>
            L’association Agile Rennes se donne pour objectif :
            <ul>
                <li>
                    principalement, la promotion et la diffusion des méthodes agiles et des pratiques de développement
                    logiciel associées dans l’agglomération rennaise par tous moyens de communication et d’intervention
                    : conférence, séminaire, rencontres, tables rondes.
                </li>
                <li>
                    accessoirement, l’accompagnement et l’incubation de communautés et évènements, essentiellement dans
                    le Grand Ouest.
                </li>
            </ul>
            <br/>
            Vous souhaitez vous investir dans la communauté et devenir membre de l’association? Rien de plus simple :
            vous trouverez ci-dessous le statut de l’association ainsi que son règlement intérieur. La cotisation est de
            10€ par année civile.
            <br/><br/>
            Nous vous invitons à venir nous rencontrer à travers les différents évènements que l’association porte ou à
            nous contacter
            <br/><br/>
            <a href="https://drive.google.com/open?id=0B8eX-gYZLgcCY011VkRMZGZCZk0" target="_blank"> Statuts</a>
            &nbsp;-&nbsp;
            <a href="https://drive.google.com/file/d/0B_rjVpd5MCJrazhYWmxyYXRkcUk" target="_blank">Règlement
                intérieur</a>
            <br/><br/>
            <a class="button button-adherer" href="https://www.billetweb.fr/adhesion-agile-rennes-2022" target="_blank">Adhérer</a>
        </div>
    </div>
</section>
