<section class="section" id="nous-trouver">
    <div class="container section-heading" style="margin-bottom: 2em">
        <h3 class="title is-2">Nous trouver</h3>
    </div>
    <div class="container nous-trouver">
        <div>
            <ul>
                <li>Slack : <a href="https://agile-rennes.slack.com" target="_blank">https://agile-rennes.slack.com</a>
                </li>
                <li>Meetup : <a href="https://www.meetup.com/fr-FR/agile-rennes/" target="_blank">https://www.meetup.com/fr-FR/agile-rennes/</a>
                </li>
                <li>Linkedin : <a href="https://www.linkedin.com/company/agiletourrennes/" target="_blank">https://www.linkedin.com/company/agiletourrennes/</a>
                </li>
                <li>Youtube : <a href="https://www.youtube.com/c/AgileTourRennes/videos" target="_blank">https://www.youtube.com/c/AgileTourRennes/videos</a>
                </li>
            </ul>
        </div>
    </div>
</section>
